input:hover, input:focus{
    border-color: #9fbfdf;
}

input, textarea {
    border-radius: 5px;
}

::-webkit-input-placeholder {
    text-align: center;
}

.toast-success {
    background-color: green;
}

.toast-error {
    background-color: red;
}