
/*** CARDS ***/
.card {
    background-color: #414141 !important; /*prevent overwriting of card color*/
    height: 100%;
}

.underlined-title {
    font-weight: 700;
    font-size: 24px;
    border-bottom: 4px solid #9fbfdf;
}


.card-title {
    text-align: center;
}

/*** BUTTONS ***/
.btn {
    background-color: #9fbfdf !important;
    border-color: #9fbfdf !important;

}

.btn:hover {
    background-color: #1E1E1E !important;
    border-color: #9fbfdf !important;
    color: #9fbfdf !important;
}

/*** ICONS ***/
.fa-react {
    color: skyblue;
}

.fa-angular {
    color: red;
}

.fa-square-js {
    color: yellow;
}

.fa-stripe {
    color: mediumpurple;
}

.fa-linkedin {
    color:  #0072b1;
}

.fa-bootstrap {
    color: #6f42c1;
}

.fa-python {
    color:#4584b6;
}

.fa-java {
    color: #f89820;
}

